:root {
  --background-color: white;
  --text-color: black;
}

html {
  background: var(--background-color);
  color: var(--text-color);
}

#stats {
  margin-top: 50px;
  border-top: solid;
}

#notification {
  border: solid;
  background: var(--background-color);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --text-color: white;
  }
}
